html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: system-ui;
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding-inline: 16px;
}

.navbar {
  background-color: #4481e4;
  width: 100%;
  height: 50px;
  position: fixed;
  padding-inline: 15px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

@media (min-width: 768px) {
  .navbar,
  .container {
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .navbar .container {
    flex-direction: row;
  }
}

.navbar .logo {
  width: 45px;
}

.nav {
  display: flex;
  gap: 16px;
}

@media (min-width: 320px) {
  .nav {
    display: grid;
    gap: 16px;
  }
}
@media (min-width: 768px) {
  .nav {
    display: flex;
    gap: 16px;
  }
}

.nav a {
  padding: 10px;
  font-size: 19px;
  color: #fff;
  text-decoration: none;
}

.nav a:hover {
  color: #000;
}

.main {
  padding-top: 64px;
}

.hero,
.section {
  scroll-margin-top: 75px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.hero .container {
  max-width: 680px;
  display: flex;
  gap: 50px;
}

.portrait-wrapper {
  flex-grow: 1;
  flex-shrink: 0;
  height: 240px;
  width: 240px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.portrait {
  position: absolute;
  height: 100%;
  inset: 0;
  object-fit: cover;
}

.content h1 {
  font-size: 3rem;
  margin: 0;
}

.content h5 {
  color: #333;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 16px;
  margin-bottom: 0;
  margin-left: 0;
}
.content p {
  color: #333;
  font-size: 1.5rem;
  margin-top: 16px;
}

.section-title {
  font-size: 2.5rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  border-radius: 8px;
  border: 1px solid #000;
  padding: 16px;
  background-color: rgba(148, 187, 233, 1) 100%;
}

.card-subtitle {
  color: #3b82f6;
  font-size: 0.75rem;
  margin-top: 8px;
  margin-bottom: 0;
}
.card-title {
  font-size: 1.15rem;
  margin-top: 16px;
  margin-bottom: 0;
}
.card-content {
  font-size: 1rem;
  margin-top: 16px;
  margin-bottom: 0;
}

.table {
  border-collapse: collapse;
  /* text-align: center; */
  margin-left: 75px;
}

/* @media (min-width: 768px){
  .table {
    margin-left: 0;
  }
} */

.table td,
.table th {
  text-align: center;
  border: 1px solid #000;
  padding: 5px;
}

.table td {
  width: 33%;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 0 auto;
  gap: 15px;
}

.form-group label {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
}

.form-control {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 8px 12px;
  font: inherit;
  background-color: #f2f2f2;
}

.form-control:focus {
  outline: none;
  border-color: rgb(6, 54, 214);
}

.button {
  background-color: #3b82f6;
  padding: 8px;
  border-radius: 5px;
  font: inherit;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(12, 62, 226);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#ff788c, #ff6ccc);
  border-radius: 20px;
}

.footer {
  background-color: #f2f2f2;
  padding-top: 0;
  padding-bottom: 0;
}

.footer p {
  text-align: center;
}
